<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <contextName>${HOSTNAME}</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/logs/CRLOG.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <append>true</append>
    <encoder>
      <pattern>%contextName %thread %highlight([%level]) %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %cyan(%logger) ---> %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%contextName %thread %highlight([%level]) %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %cyan(%logger) ---> %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
