<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <title>Creditark</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" th:href="@{/js/favicon.ico}">
  <link rel="stylesheet" th:href="@{/js/styles.08a734fc1e935141f863.css}">
  <script type="text/javascript" th:src="@{/js/Chart.js}" nomodule></script>
  <script type="application/javascript">
    var global = window;
  </script>

<link rel="stylesheet" href="styles.08a734fc1e935141f863.css"></head>
<body>

<app-root></app-root>

<script type="text/javascript" th:src="@{/js/runtime-es2015.27965c48d77c449cb93c.js}"></script>
<script type="text/javascript" th:src="@{/js/polyfills-es2015.9672279e61a4a771b6a3.js}"></script>
<script type="text/javascript" th:src="@{/js/runtime-es5.ee2dcdf2e59a31c9da78.js}" nomodule></script>
<script type="text/javascript" th:src="@{/js/polyfills-es5.311fade94219c4610cd7.js}" nomodule></script>
<script type="text/javascript" th:src="@{/js/main-es2015.2138b134c28fe61f8225.js}"></script>
<script type="text/javascript" th:src="@{/js/main-es5.e81245fb29b701bfb1d2.js}" nomodule></script>
</body>
</html>
