<!-- @todo make dynamic COMPONENT!!!  -->
<section class="create-form">
    <div *ngIf="!allow" class="loading">Loading</div>
    <app-customer-search (messageEvent)="receiveInformation($event)"></app-customer-search>

    <section *ngIf="customerCreate" class="row">
        <div class="col-4">

            <form name="form" (ngSubmit) = "g.form.valid && onSubmit()" #g="ngForm" novalidate>

                <div class="form-group">

                    <div class="row">
                        <div class="col-6">
                            <label for="maxLimitGrowth">Maximum limit growth</label>
                            <input type="text" class="form-control"
                                   name="maxLimitGrowth"
                                   [(ngModel)]="newCustomer.parameters.maxLimitGrowth" #maxLimitGrowth="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && maxLimitGrowth.invalid }" required
                                   id="maxLimitGrowth"/>
                            <div *ngIf="g.submitted && maxLimitGrowth.invalid" class="invalid-feedback">
                                <div *ngIf="maxLimitGrowth.errors.required">Maximum limit growth</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="maxLimitGrowth">Maximum limit reduction</label>
                            <input type="text" class="form-control"
                                   name="maxLimitReduction"
                                   [(ngModel)]="newCustomer.parameters.maxLimitReduction" #maxLimitReduction="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && maxLimitReduction.invalid }" required
                                   id="maxLimitReduction"/>
                            <div *ngIf="g.submitted && maxLimitReduction.invalid" class="invalid-feedback">
                                <div *ngIf="maxLimitReduction.errors.required">Maximum limit reduction</div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="minLimitGrowth">Minimum limit growth</label>
                            <input type="text" class="form-control"
                                   name="minLimitGrowth"
                                   [(ngModel)]="newCustomer.parameters.minLimitGrowth" #minLimitGrowth="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && minLimitGrowth.invalid }" required
                                   id="minLimitGrowth"/>
                            <div *ngIf="g.submitted && minLimitGrowth.invalid" class="invalid-feedback">
                                <div *ngIf="minLimitGrowth.errors.required">Minimum limit growth</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="maxLimitGrowth">Minimum limit reduction</label>
                            <input type="text" class="form-control"
                                   name="minLimitReduction"
                                   [(ngModel)]="newCustomer.parameters.minLimitReduction" #minLimitReduction="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && minLimitReduction.invalid }" required
                                   id="minLimitReduction"/>
                            <div *ngIf="g.submitted && minLimitReduction.invalid" class="invalid-feedback">
                                <div *ngIf="minLimitReduction.errors.required">Minimum limit reduction</div>
                            </div>
                        </div>

                    </div>

                </div>


                <!-- <div class="form-group">
                    <label>Worst acceptable CAS</label>
                    <div class="row">
                        <div class="col-6">
                            <ng-select [dropdownPosition]="'bottom'"
                                       [searchable]="false"
                                       [items]="contextAll.scores"
                                       name="score" [(ngModel)]="newCustomer.parameters.worstAcceptableScore">
                            </ng-select>
                        </div>
                    </div>
                </div> -->
                

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="minAcceptedLimitUse">Minimum accepted limit use</label>
                            <input type="text" class="form-control"
                                   name="minAcceptedLimitUse"
                                   [(ngModel)]="newCustomer.parameters.minAcceptedLimitUse" #minAcceptedLimitUse="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && minAcceptedLimitUse.invalid }" required
                                   id="minAcceptedLimitUse"/>
                            <div *ngIf="g.submitted && minAcceptedLimitUse.invalid" class="invalid-feedback">
                                <div *ngIf="minAcceptedLimitUse.errors.required">Minimum accepted limit use</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="minAcceptedLimitUse">Maximum accepted DSO (days)</label>
                            <input type="text" class="form-control"
                                   name="maxDso"
                                   [(ngModel)]="newCustomer.parameters.maxDso" #maxDso="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && maxDso.invalid }"
                                   id="maxDso"/>
                            <div *ngIf="g.submitted && maxDso.invalid" class="invalid-feedback">
                                <div *ngIf="maxDso.errors.required">Maximum accepted DSO (days)</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="minAcceptedRwMargin">Minimum acceptable Risk Weighted Margin</label>
                            <input type="text" class="form-control"
                                   name="minAcceptedRwMargin"
                                   [(ngModel)]="newCustomer.parameters.minAcceptedRwMargin" #minAcceptedRwMargin="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && minAcceptedRwMargin.invalid }" required
                                   id="minAcceptedRwMargin"/>
                            <div *ngIf="g.submitted && minAcceptedRwMargin.invalid" class="invalid-feedback">
                                <div *ngIf="minAcceptedRwMargin.errors.required">Minimum acceptable Risk Weighted Margin</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="minAcceptedRwMargin">Sales change</label>
                            <input type="text" class="form-control"
                                   name="salesChange"
                                   [(ngModel)]="newCustomer.parameters.salesChange" #salesChange="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && salesChange.invalid }"
                                   id="salesChange"/>
                            <div *ngIf="g.submitted && salesChange.invalid" class="invalid-feedback">
                                <div *ngIf="salesChange.errors.required">Sales change</div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="marginChange">Change in profit Margins</label>
                            <input type="text" class="form-control"
                                   name="marginChange"
                                   [(ngModel)]="newCustomer.parameters.marginChange" #marginChange="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && marginChange.invalid }"
                                   id="marginChange"/>
                            <div *ngIf="g.submitted && marginChange.invalid" class="invalid-feedback">
                                <div *ngIf="marginChange.errors.required">Change in profit Margins</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="marginChange">Change in default probabilities</label>
                            <input type="text" class="form-control"
                                   name="pdChange"
                                   [(ngModel)]="newCustomer.parameters.pdChange" #pdChange="ngModel"
                                   [ngClass]="{ 'is-invalid': g.submitted && pdChange.invalid }"
                                   id="pdChange"/>
                        </div>
                        <div *ngIf="g.submitted && pdChange.invalid" class="invalid-feedback">
                            <div *ngIf="pdChange.errors.required">Change in default probabilities</div>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Resolve</button>
            </form>
        </div>

        <div class="col-8">
            <section class="tabs" *ngIf="customerInfo">
                <div class="tabs__nav">
                    <nav class="dropdown dropdown-tabs dropdown-md">
                        <button (click)="isOpenTab = !isOpenTab" class="btn btn-secondary btn-icon-right btn-lg btn-dropdown animate" [class.open]="isOpenTab">
                            <span class="text">{{selectedTab}}</span>
                            <span class="icon icon-arrow_down"></span>
                        </button>
                        <div class="dropdown-menu animate">
                            <div *ngFor="let tab of tabsTitles">
                                <button (click)="onClickTab($event)" class="dropdown-item animate" [class.active]="selectedTab === tab">{{tab}}</button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="tabs__content">
                    <div class="row row-grid">
                        <div class="col col-12 col-md-6 col-xl-4" [ngClass]="( selectedTab === 'Highlights' ) ? 'col-xl-4' : 'col-xl-12'" *ngFor="let card of cards">
                            <app-clientele-card [card]="card"></app-clientele-card>
                        </div>
                        <!--div class="col col-12">
                            <article class="box">
                                <div class="box__content box__content--form">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Add your note..."></textarea>
                                    </div>
                                </div>
                            </article>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>