<div class="row">
    <div class="col-md-10">
        <div style="display: block">

            <section class="type-chart-label">
                <button *ngFor="let gr of graph; let i = index" (click)="changeTypeGraph(i)" type="button"
                [ngClass]="i == currentTypeGraph ? 'btn btn-dark' : 'btn' "> {{ gr.name }}</button>
            </section>

            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>

        </div>
    </div>
</div>